<template>
  <div class="home">
    <UserSetup msg="This is the home page" />
  </div>
</template>

<script>
// @ is an alias to /src
import UserSetup from "@/components/FrontPage/UserSetup.vue";

export default {
  name: "Home",
  components: {
    UserSetup,
  },
};
</script>
