<template>
  <div class="about">
    <QuestionElement />
  </div>
</template>

<script>
import QuestionElement from "@/components/QuestionPage/QuestionElement.vue";

export default {
  name: "Question",
  components: {
    QuestionElement,
  },
};
</script>
