<template>
  <div class="about">
    <Answers />
    <Score />
    <Button />
  </div>
</template>

<script>
// @ is an alias to /src
import Score from "@/components/ResultsPage/Score";
import Answers from "@/components/ResultsPage/Answers";
import Button from "@/components/ResultsPage/ResultButton";

export default {
  name: "Results",
  components: {
    Score,
    Answers,
    Button,
  },
};
</script>
