<template>
  <div>
    <div v-for="(question, index) in trivia_questions" :key="index">
      <ul>
        <p>{{ question.question }}</p>
        <button @click="buttonClick">{{ question.correct_answer }}</button>
        <button @click="buttonClick">
          {{ question.incorrect_answers[0] }}
        </button>
        <button
          @click="buttonClick"
          v-if="question.incorrect_answers.length > 2"
        >
          {{ question.incorrect_answers[1] }}
        </button>
        <button
          @click="buttonClick"
          v-if="question.incorrect_answers.length === 3"
        >
          {{ question.incorrect_answers[2] }}
        </button>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";

export default {
  name: "QuestionList",
  computed: {
    ...mapState(["trivia_questions"]),
    ...mapGetters(["questionsByFilter"]),
  },
  methods: {
    buttonClick: function () {
      console.log("i have been clicked");
    },
    ...mapActions(["fetchCharacters"]),
  },
};
</script>
