<template>
  <div>
    <QuestionList />
  </div>
</template>

<script>
import QuestionList from "@/components/QuestionPage/QuestionList";

export default {
  name: "QuestionElement",
  components: {
    QuestionList,
  },
  computed: {},
  methods: {},
};
</script>
