<template>
<div>
<div>
    <h3>Users answers:</h3>
    <ul>
        <li>Answer 1</li>
        <li>Answers 2</li>
    </ul>
</div>
<div>
    <h3>The actual answers</h3>
    <ul>
        <li>Fasit 1</li>
        <li>Fasit 2</li>
    </ul>
</div>
</div>
</template>