<template>
  <div>
    <button>
        <router-link to="/question">Replay</router-link>
    </button>
    <button>
      <router-link to="/">Return to home</router-link>
    </button>
  </div>
</template>