<template>
  <v-select
    class="category-list"
    placeholder="Select a Category"
    label="name"
    @input="setCategoryId"
    :options="trivia_categories"
    :reduce="(trivia_categories) => trivia_categories.id"
  >
  </v-select>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "CategorysList",

  async created() {
    await this.fetchCategorys();
  },
  computed: {
    ...mapState(["trivia_categories", "categorysError"]),
  },
  methods: {
    ...mapActions(["fetchCategorys"]),
    setCategoryId(value) {
      this.$store.commit("setCategoryId", value);
    },
  },
};
</script>

<style scoped>
.category-list {
  max-width: 17em;
  margin: 1em auto;
  list-style-type: none
}


</style>
