<template>
  <v-select
    class="difficulty-list"
    placeholder="Select a Difficulty"
    :options="['easy', 'medium', 'hard']"
    @input="setDifficulty"
    :value="$store.theValue"
  >
  </v-select>
</template>

<script>
export default {
  name: "DifficultyList",
  methods: {
    setDifficulty(value) {
      this.$store.commit("setDifficulty", value);
    },
  },
};
</script>

<style scoped>
.difficulty-list {
  max-width: 10em;
  margin: 1em auto;
}
</style>
