<template>
  <div>
    <button v-on:click="getUser" class="login-button">Login</button>
  </div>
</template>
<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "LoginButton",

  computed:{
    ...mapState(["player"])
  },

  methods: {
    ...mapActions(["fetchPlayer"]),
    ...mapActions(["createPlayer"]),
    getUser: function () {
        
      this.fetchPlayer();
      if(!this.player){
        this.createPlayer();
        this.fetchPlayer();
      } 
    },
  },
};
</script>


<style>
  .login-button {
    background-color: aqua;
    border-radius: 10px;
    size: 3rem;
    margin-top: 5 rem;
    border: 3px solid;

  }
</style>