<template>
  <div>
    <button v-on:click="questionNavigator" class="quiz-button">Generate Quiz</button>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "GetQuestions",

  methods: {
    ...mapActions(["fetchTriviaQuestions"]),
    questionNavigator: function () {
      this.fetchTriviaQuestions();
      this.$router.push(`/question`);
    },
  },
};
</script>

<style>
  .quiz-button {
    background-color: aqua;
    border-radius: 10px;
    size: 3rem;
    margin-top: 5 rem;
    border: 3px solid;

  }
</style>
