<template>
  <div>
    <h2>{{this.player.username}}</h2>
    <h2>{{this.player.highScore}}</h2>
    <input v-model="playerName" type="text" placeholder="Name" />
    <LoginButton/>
    <CategorysList />
    <DifficultyList />
    <input
      v-model="questionAmount"
      type="number"
      placeholder="Number of questions"
    />
    <QuestionButton />
  </div>
</template>

<script>
import CategorysList from "@/components/FrontPage/CategorysList";
import DifficultyList from "@/components/FrontPage/DifficultyList";
import LoginButton from "@/components/FrontPage/LoginButton";
import QuestionButton from "@/components/FrontPage/QuestionButton";
import { mapState } from "vuex";

export default {
  name: "UserSetup",
  components: {
    CategorysList,
    DifficultyList,
    LoginButton,
    QuestionButton,
  },
  computed: {
        ...mapState(["player"]),
    questionAmount: {
      get() {
        return this.$store.questionAmount;
      },
      set(val) {
        this.$store.commit("setQuestionAmount", val);
      },
    },
    difficulty: {
      get() {
        return this.$store.difficulty;
      },
      set(val) {
        this.$store.commit("setDifficulty", val);
      },
    },
    playerName: {
      get() {
        return this.$store.playerName;
      },
      set(val) {
        this.$store.commit("setPlayerName", val);
      },
    },
  },
};
</script>
